modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Build and Start"

[[workflows.workflow]]
name = "Build and Start"
author = 19519475
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
